[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
pytest = "*"
jieba = "*"
mock = "*"
folium = "*"
pyecharts = "<=0.5.11"
echarts-countries-pypkg = "*"
pyecharts-snapshot = "*"
pandoc = "*"
twine = "*"
Jinja2 = ">=2.10.1"
urllib3 = ">=1.24.2"
travis-encrypt = "*"

[requires]
python_version = "3.7"
